.box {
  background:red;
  width:40px;
  height:40px;
  border:black 1px solid;
  position:absolute;
}

#container {
  border:solid blue 1px;
  width:100%;height:200px;
  position:absolute;
  background:whitesmoke url('https://s3.amazonaws.com/com.appgrinders.test/images/grid_20.png') repeat;
}